*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*======header/section=======*/

.header {
    height: 100vh;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),url(img/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 100px;
}
.text-area {
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 180px;
}
.text-area h1 {
    font-size: 60px;
}
.text-area p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
}
.btn {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color:tomato;
    padding: 15px 30px;
    border-radius: 5px;
}


/*=======donate/section=========*/

.donate-today {
    padding-bottom: 100px;
}
.content {
    text-align: center;    
}
.content h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
}
.content p {
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    line-height: 28px;
    padding-top: 20px;
}
.donate-box {
    display: flex;
    margin-left: 310px;
    margin-right: 310px;
    padding-top: 30px;
  
}
.box {
    width: 20%;
    height: 123px;
    width: 135px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    background-color: #FAFAFA;
    margin-right: 30px;
    border-radius: 5px;
    cursor:pointer;
}
.box h1 {
    text-align: center;
    padding-top: 45px;
    color: #707070;
}
.box-1 {
    background-color:#FFEEEE;
    color:#FF5959;
    border: 2px solid #FF5959;
}
.extra-content input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #808080;
    width: 50%;
    margin-bottom: 35px;
    margin-top: 50px;
    font-size: 20px;
}
input,placholder {
    margin-left: 330px;
    text-align: center;
    padding-bottom: 15px;
}
.btn_link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color:tomato;
    padding: 15px 30px;
    border-radius: 5px;
}
.button {
    text-align: center;
}

/*===========plan=========*/

.plan {
    text-align: center;
    margin-bottom: 100px;
}
.plan h1 {
    font-size: 40px;
}
.plan p {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
}

/*========================cards=====================*/

.cards-plan {
    display: flex;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}
.food-family {
    width: 360px;
    height:352px;
    background:#EDF5F6;
    text-align: left;
    padding-top: 26px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 5px;
}
.food-family
p {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}
.shelter-family
p {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}
.child-education p{
    font-size: 14px;
    color: black;
    margin-top: 10px;
}
.food-family,.shelter-family,.child-education, img {
    padding-top: 40px;
    padding-bottom: 10px;
}
.shelter-family {
    width: 360px;
    height: 352px;
    background: #FFEEEE;
    text-align: left;
    padding-top: 26px;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 5%;
    border-radius: 5px;
}
.child-education {
    width: 360px;
    height: 352px;
    background:#FFF4DE;
    text-align: left;
    padding-top: 26px;
    padding-left: 26px;
    padding-right: 26px;
    margin-left: 5%;
    border-radius: 5px;
}

/*===========donation-blog============*/

.donation-blog {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}
.content-area {
    width: 40%;

}
.content-area h1 {
    font-size: 40px;
    text-align: left;
    padding-top: 90px;
}
.content-area p {
    font-size: 18px;
    text-align: left;
    color: #707070;
    line-height: 28px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.content-img img {
    width: 100%;
    padding-bottom: 50px;
    margin-left: 20%;
    border-radius: 5px;
}
.donation-btn {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color:tomato;
    padding: 15px 30px;
    border-radius: 5px;
}

/*======dummy-text=======*/

.dummy-text {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.dummy-text h1 {
    font-size: 45px;
}
.dummy-text p {
    color: #707070;
    font-size: 18px;
    line-height: 28px;
    padding-top: 20px;
}

/*======newsletter======*/

.newsletter {
    margin-bottom: 100px;
    margin-left: 316px;
    margin-right: 315px;
    background-color: #FFF4D6;
    padding: 70px 70px;
    border-radius: 5px;
}
.newsletter form {
    text-align: center;   
}
.newsletter input[type="email"] {
    font-size: 18px;
    outline: 0;
    border: 0;
    background-color: #D9D9D9;
    margin-left: -120px;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
}
.newsletter button[type="submit"] {
    width: 120px;
    background-color: tomato;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    text-align: center;
    cursor: pointer;

}

/*===========footer===============*/

footer {
    background-color: #0B0D17;
    padding: 70px 70px;
    text-align: center;
}
footer h1 {
    color: tomato;
}
footer p {
    color: #D9D9D9;
}